@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --clr-light: #B2B9C3;
  --clr-dark: #575A6A;
  --clr-medium: #779CCD;
  --clr-purple: #575ABA;
  --clr-optional: #AE5431;
  --ff-main: 'Montserrat', sans-serif;
  --ff-secondary: "";
}

:root body {
  font-family: var(--ff-main);
}

.purple {
  color: var(--clr-purple);
}

/***** NAVBAR STYLING *****/
#nav-styling {
  background-color: var(--clr-light);
  background-color: var(--clr-light);
  box-shadow: 0px 2px 2px 1px var(--clr-dark);
}

/* Link Styling */
.navbar-nav .nav-link {
  color: var(--clr-dark);
  font-weight:bold;
  margin-right: 20px;
  padding: 10px 10px;
}

@media screen and (max-width: 768px) {
  .navbar-nav .nav-link {
    max-width: fit-content;
  }
}

/* Underline From Center - Link hover styling */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--clr-dark);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Logo Styling */
.navbar-brand #nav-logo {
  height: 75px;
  width: auto;
}

/* Navbar Burger Icon */
#navbar-toggler {
  border-color: var(--clr-dark);
  transition: border 0.2s ease-in-out;
}

#navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(87, 90, 186, 0.8)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#navbar-toggler:focus {
  border: 0.25rem solid var(--clr-dark);
  box-shadow: none;
}

/***** FOOTER *****/
footer {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  box-shadow: 0px -2px 2px 1px var(--clr-dark);
}

footer a {
  display: inline-block;
  color: var(--clr-purple);
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

footer a:hover {
  transform: translateY(-4px);
}

.social-icon {
  font-size: 2.5rem; 
}

#footer-logo {
  padding: 0.5rem 0;
  max-width: 100px;
}

#disclaimer {
  padding: 0 10px;
  font-size: 14px;
  color: var(--clr-dark);
}