@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');
:root {
  --clr-light: #B2B9C3;
  --clr-dark: #575A6A;
  --clr-medium: #779CCD;
  --clr-purple: #575ABA;
  --clr-optional: #AE5431;
  --ff-main: 'Montserrat', sans-serif;
  --ff-secondary: "";
}

:root body {
  font-family: var(--ff-main);
}

html, body {
  /* overflow: hidden;     */
  width: 100%;
  height: 100%;    
  margin: 0;
  padding: 0;
}

.purple {
  color: var(--clr-purple);
}

/***** NAVBAR STYLING *****/
#nav-styling {
  background-color: var(--clr-light);
  background-color: var(--clr-light);
  box-shadow: 0px 2px 2px 1px var(--clr-dark);
  z-index: 9999;
}

/* Link Styling */
.navbar-nav .nav-link {
  color: var(--clr-dark);
  font-weight:bold;
  margin-right: 20px;
  padding: 10px 10px;
  width: fit-content;
}


/* Underline From Center - Link hover styling */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--clr-dark);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Logo Styling */
.navbar-brand #nav-logo {
  height: 75px;
  width: auto;
}

/* Navbar Burger Icon */
#navbar-toggler {
  border-color: var(--clr-dark);
  transition: border 0.2s ease-in-out;
}

#navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(87, 90, 186, 0.8)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#navbar-toggler:focus {
  border: 0.25rem solid var(--clr-dark);
  box-shadow: none;
}

nav #basic-navbar-nav .dropdown .dropdown-menu {
  background-color: var(--clr-light);
  width: fit-content;
}

nav #basic-navbar-nav .dropdown .dropdown-menu .dropdown-item {
  margin-left: 20px;
  width: fit-content;
}

nav #basic-navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: var(--clr-light);
}

#basic-nav-dropdown {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

#basic-nav-dropdown:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--clr-dark);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#basic-nav-dropdown:hover:before,
#basic-nav-dropdown:focus:before,
#basic-nav-dropdown:active:before {
  left: 0;
  right: 0;
}

/***** FOOTER *****/
footer {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  box-shadow: 0px -2px 2px 1px var(--clr-dark);
}

footer a {
  display: inline-block;
  color: var(--clr-purple);
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

footer a:hover {
  transform: translateY(-4px);
}

.social-icon {
  font-size: 2.5rem; 
}

#footer-logo {
  padding: 0.5rem 0;
  max-width: 100px;
}

#disclaimer {
  padding: 0 10px;
  font-size: 14px;
  color: var(--clr-dark);
}

.hero {
  height: 520px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 10%;
  position: relative;
  margin-bottom: 8%;
}

.hero-background {
  --s: 98px; /* the size */
  --c: #fafafa;
  
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,#779ccd 68% 70%,#0000 72%;
  background:
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 0    75%,var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s),
    radial-gradient(var(--_g) 0    75%,var(--_c)) 0 0/var(--_s),
    repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s)
    var(--c);
}

.hero-header {
  color: var(--clr-dark);
  font-weight: 600;
  font-style: italic;
  text-align: center;
  padding: 3% 3%;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(250, 250, 250, 0.9);
  align-items: center;
  width: 40%;
  margin-top: 8%;
  position: absolute;
  z-index: 999;
  bottom: 15%;
  left: 8%;
  border-radius: 0.375rem;
  box-shadow: 3px 3px 6px #575A6A;
}

.hero-header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin-bottom: 4%;
}

.hero-img-container {
  align-items: center;
  width: 60%;
  position: absolute;
  right: 0;
  top: 0;
}

.hero-img-container img {
  width: 100%;
  height: 520px;
  object-fit: cover;
}

/****** CAROUSEL *******/

.carousel-main {
  width: 80%;
  height: 20%;
  margin: 1rem auto; 
}

.carousel-item img {
  border-radius: 0.375rem;
  height: 50%;
}

.country-title {
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}

.country-slogan {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 2rem 1rem;
}

.country-place {
  font-size: 1.25rem;
  padding: 1rem;
  text-align: center;
}

.country-desc {
  padding: 0 1rem;
  text-align: center;
}


/***** CHAT BOT STYLING *****/
.chat-div {
  margin: 50px auto;
  width: 80%;
  min-height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  box-shadow:  2px 2px 2px 1px var(--clr-dark);
}

.chat-div-2 {
  padding: 15px;
}

.chat-buttons {
  padding: 5px;
  margin: 10px 10px 10px 0;
  box-shadow: 2px 2px 3px 1px var(--clr-dark);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out !important;
}

.chat-buttons:hover {
  transform: translateY(1px);
  box-shadow: none;
}

#chat-input {
  margin-right: 10px;
}

/**** ARTICLE PAGE ****/
.article-page-intro {
  text-align: center;
  padding: 4% 6%;
}

.page-title {
  color: var(--clr-dark);
  font-size: 2.5em;
  padding: 4% 0;
}

.article-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% 4%;
  color: var(--clr-dark);
  background-color: #fafafa;
}

.article-container-reverse {
  flex-direction: row-reverse;
  background: none;
}

.article-img {
  width: 40%;
  margin: 2%
}

.article-img img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.article-text {
  padding: 0 2%;
  text-align: center;
  width: 50%;
}

.article-text h4 {
  font-weight: 600;
  margin-bottom: 6%;
  font-style: italic;
}

.about-main {
  width: 100%;
  height: auto;
}

.about-us-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 2% 0;
}

.about-us-text {
  text-align: center;
  padding: 0 8%;
  margin: 2% 0;
}

.participant-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.participant-info {
  padding: 2% 4%;
}

.participant-info p {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.gitHub-icon {
  color: var(--clr-dark);
  font-size: 25px;
  padding-left: 4%;
  transition: transform 0.3s ease-in-out;
}

.gitHub-icon:hover {
  transform: translateY(-3px);
}


/***** CONTACT FORM *****/
#contact-form-container {
  max-width: 600px;
  font-weight: bold;
  color: var(--clr-dark);
}

form .form-control {
  border: 2px solid rgba(87, 90, 186, 0.6);
}

/**** FAQ ****/
.faq-section {
  text-align: center;
  font-weight: 500;
  font-style: italic;
  margin: 8% 6% 0 6%;
}

.faq-section h4 {
  padding-top: 4%;
}

.accordion-section {
  margin: 5% 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-button {
  font-weight: 600;
}

.faq-disclaimer {
  text-align: center;
  font-size: 13px;
  margin: 0 15% 5% 15%;
}

.expert-info-intro {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--clr-dark);
  color: #fafafa;
  text-align: center;
  padding: 8% 15%;
  font-size: 1.2em;
}

.expert-info {
  text-align: center;
  margin: 4% 10%;
  padding: 2%;
  display: flex;
  justify-content: space-between;
}

.expert-info-details {
  margin: 4% 2% 0 2%;
  background: linear-gradient(161deg, rgb(245, 236, 255) -4.3%, rgb(156, 159, 241) 101.8%);
  padding: 4% 4%;
  border-radius: 15px;
  width: 80%;
}

.expert-info-details a {
  text-decoration: none;
  color: var(--clr-dark);
}
.expert-info-details a:hover {
  color: rgba(87, 90, 106, 0.8);
  transition: ease-in-out 0.4s;
}

.expert-info-details h4 {
  font-weight: 600;
  padding: 6% 0;
}

.wellbeing-title {
  text-align: center;
  margin: 6% 10%;
  padding: 4% 6%;
  font-size: 2.4em;
  color: var(--clr-dark);
}


/**** MEDIA QUERIES ****/
@media screen and (max-width: 768px) {
  .navbar-nav #nav-link {
    max-width: fit-content;
    height: auto;
  }

  .hero {
    position: unset;
    background: none;
    padding: 0;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 5%;
  }

  .hero-header {
    position: unset;
    width: 80%;
  }

  .hero-img-container {
    width: 100%;
  }

  .article-container {
    flex-direction: column;
    margin: 2% 6%;
  }

  .article-img {
    width: 100%;
    padding: 0;
    align-content: flex-start;
  }

  .article-img img {
    height: 280px;
  }

  .article-text {
    margin: 2% 4%;
    width: 100%;
  }

  .page-title {
    font-size: 2.1em;
    padding: 6% 2%;
  }

  .expert-info {
    flex-direction: column;
    justify-content: center;
  }

  .expert-info-intro {
    font-size: 1em;
  }

  .expert-info-details {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .wellbeing-title {
    font-size: 2em;
  }
}